.bento {
	.bento-grid {
		display:grid;
		grid-gap:30px;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		height:960px;
		@media(max-width:1024px){
			grid-template-rows: repeat(8, 1fr);
		}
		@media(max-width:768px){
			display:flex;
			flex-direction:column;
			gap:30px;
			height:auto;
		}
		.bento-item {
			padding:30px;
			background-color: var(--base-100);
			border-radius:15px;
			position:relative;
			overflow:hidden;
			img {
				position:absolute;
				top:0;
				left:0;
				height:100%;
				object-fit:cover;
				transition: ease 3s all;
                /* border: 5px solid; 
				border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 1; Градиентная граница */
			}
			&:hover {
				img {
					transform: scale(1.2);
				}
			}
			@media(max-width:768px){
				height:240px;
			}
			&:nth-child(1) {
				grid-column: span 2;
				grid-row: span 2;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 2;
				}
			}
			&:nth-child(2) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(3) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(4) {
				grid-column: span 1;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 2;
					grid-row: span 4;
				}
			}
			&:nth-child(5) {
				grid-column: span 2;
				grid-row: span 1;
				@media(max-width:1024px){
					grid-column: span 3;
					grid-row: span 2;
				}
			}
			&:nth-child(6) {
				grid-column: span 5;
				grid-row: span 3;
				@media(max-width:1024px){
					grid-column: span 5;
					grid-row: span 2;
				}
			}
		}
	}
}

.bento-item figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background: rgba(0, 0, 0, 0.5); 
	color: #fff;
	font-size: 14px;
	text-align: center;
	opacity: 0; 
	transition: opacity 0.3s ease; 
}

.bento-item:hover figcaption {
	opacity: 1;
}

@media (max-width: 1024px) {
    .bento-item figcaption {
        opacity: 1;
        transition: none;
    }
}

/* .rainbow-hover {
    background: none; 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--base-800);
    font-weight: bold;
    transition: background 0.3s, -webkit-text-fill-color 0.3s; 
}

.rainbow-hover:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1024px) {
    .rainbow-hover {
        background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
} */
